${test}

<p data-sly-test.condition="${true}">Hello sightly compiler</p>

<sly data-sly-test.profile="{'id': 'foo', class: 'bar', 'lang': ''}"></sly>

${profile}

<div class="bar1" data-sly-attribute.class="bar2" data-sly-attribute="{profile}">
  div one
</div>

<div data-sly-attribute.class="${profile}" id="foo2">
  div two
</div>

<ul data-sly-list="${[1, 2, 3]}">
  <li>${item}</li>
</ul>

<div data-sly-use.record="org.apache.sling.scripting.sightly.Record"
     data-sly-use.js="script.js"
     data-sly-use.pojo="Pojo">
  ${pojo}
  ${record.getPropertyNames}
</div>